@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General and text ------------------------------------------------------------------------------------------------------------------------------- */

:root {
    --primary-color: white;
    --secondary-color: #005ba1;
    --highlight-color: rgb(255, 224, 48);
}

.dark-theme{
     --primary-color: #111425;
    --secondary-color: white;
    --highlight-color: rgb(0, 78, 202);
}

body{
    background-color: var(--primary-color);
    margin: 0;
}

a, p {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 50px;
}
h3 {
font-size: 30px;
}
p {
    font-weight: 300;
    font-size: 20px;
}


/* Header CSS ------------------------------------------------------------------------------------------------------------------------------------*/ 


.logo_link img {
    max-width: 200px;
    max-height: 100px;
    margin-top: 10px;
}



header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: var(--secondary-color);
    opacity: 0.85;
}

nav {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color)
}


nav a:hover {
    text-decoration: none;
    font-weight: bold;
    color: var(--highlight-color)

}


.button
{
    display: grid;
    margin: auto 15px;
}

.button a{
    text-align: center;
    align-self: center;
    padding: 20px;
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--secondary-color)
}

.button a:hover{
    text-align: center;
    align-self: center;
    padding: 20px;
    color: var(--highlight-color);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--secondary-color)
}

/* Dark mode button and styles ------------------------------------------------------------------------------- */
#icon {
    width: 25px;
    cursor: pointer;
}

/* Hero ------------------------------------------------------------------------------------------------------------------------------------- */

#hero {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-template-rows: 4fr;
    height: 800px;
    background-color: var(--primary-color)
    /* background: linear-gradient(#005ba1, rgb(0, 26, 45)); */
}




.hero-text {
    grid-column: 1/5;
    grid-row: 1/4;
    text-align: center;
    /* color: white; */
    color: var(--secondary-color);
    padding: 10px;
    z-index: 0;
}
.hero-text h3 {
    color: var(--secondary-color)
}
.hero-text p 
{
    margin: 50px 33%;

}

.hero img {
    align-self: center;
    z-index: 1;
}

.hero-img img{
    max-width: 100%;
    max-height: 100%;
} 
.hero-img{
    grid-column: 1/2;
    grid-row: 1/4;
}

.hero-button
{
    margin: 30px 15px;
}

.hero-button a{
    text-align: center;
    align-self: center;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}

.hero-button a:hover{
    text-align: center;
    align-self: center;
    padding: 20px;
    color: var(--highlight-color);
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}

/* About explanations ---------------------------------------------------------------------------------------------------------------------------------------*/

.hero-2{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--primary-color)
}
.about img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.hero-2-msg {
    justify-content: center;
    display: grid;
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    align-content: center;
    margin: auto 20px;
}

.hero-2 h2 {
    margin: 0px;
}

.hero-2 p {
    color: var(--secondary-color)
}


.button-2{
margin: 50px 15px;
}

.button-2 a {
    padding: 20px;
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--secondary-color);
    border-radius: 10px;
    max-width: 50px;
}
.button-2 a:hover{
    text-align: center;
    align-self: center;
    padding: 20px;
    color: var(--highlight-color);
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}

/* Footer -------------------------------------------------------------------------------------------------------------------------------------------------- */

footer {
    display: grid;
    grid-template-columns: auto 1fr 140px;
    background-color: rgb(241, 243, 250);
}



.links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.links a {
    text-decoration: none;
    font-weight: bold;
    color: #005ba1
}

.links a:hover{
    text-decoration: none;
    font-weight: bold;
    color: #000000
}

.social{
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto;
}

.social a {
    padding: 5px;
}

.social img {
    max-height: 30px;
}



.final{
    margin-top: 10px;
    padding-bottom: 2px;
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.final a {
    font-size: small;
    text-decoration: none;
    color: #000000;
}